body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    

}
h1{
    background-color: #45a049;
    color:black;
    padding: 10px;
    border: 1px solid black;
}
h2 {
    color: #333;
}

form {
    background: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input, textarea, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button {
    background-color:#4CAF50;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#projectList div, #taskList div {
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    width:auto;
    border-left: 5px solid #4CAF50;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

hr {
    border: 0;
    border-top: 1px solid #eee;
}
